@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

.parent {
  font-family: "lexend", sans-serif;
  border-style: dashed;
  border-width: 3px;
  border-color: darkblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.child {
  font-size: 30px;
  font-weight: 800;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: darkblue;
  background-color: rgb(201, 211, 230);
  color: darkblue;
  padding: 16px;
  margin: 5px;
}

.parent .child:nth-child(1),
.parent .child:nth-child(17),
.parent .child:nth-child(20),
.parent .child:nth-child(26) {
  background-color: rgb(216, 241, 191);
  color: darkgreen;
  border-color: darkgreen;
}
.parent .child:nth-child(9),
.parent .child:nth-child(13),
.parent .child:nth-child(14) {
  background-color: rgb(222, 179, 235);
  color: rgb(75, 2, 94);
  border-color: rgb(75, 2, 94);
}
.parent .child:nth-child(5) {
  background-color: rgb(248, 208, 228);
  color:  rgb(252, 0, 126);
  border-color: rgb(252, 0, 126);
}

/*-----------MEDIA QUERIES-----------*/

@media (max-width: 500px) {
  .parent{
    padding: 15px 0;
  }
  .child {
    flex-basis: 80%;
    text-align: center;
  }

}
